@import url('https://fonts.googleapis.com/css?family=Kanit|Lato');

.navbar{
  box-shadow: 2px 2px 5px rgb(147, 26, 41);
  opacity: 0.7;
  padding: 10px;
  padding-top: 0px;

}

#logo {
  max-width: 300px;
  margin-left: 30px;
  background-color: white;
  border-radius: 2px;
  padding: 10px;
}

.navbar-nav .nav-item .nav-link{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}


#pre-header {
    color: white;
    width: 100%;
    height: 20px;
    background-color: grey;
}

/*____________ cambia letra y padding a parrafos ------------- */

#parrafo{
    font-family: 'Lato', sans-serif;

}

.cuadro{

    width: : 400px;
    height: 200px;
    color: rgb(42, 46, 46);
    border-color: beige 4px solid;
    border-radius: 12px;
    padding-left: 15px;
    padding-top: 15px;

}

.mision{
  background-color: rgb(223, 42, 36) important!;
}
.linea{
  width: 280px;
  height: 2px;
  margin-top: 15px;
  background-color: rgba(25, 25, 27, 0.63);

}

/*------------------------- Servicios ------------------------------*/
.main-section{
  background: url(../img/servicios.jpeg);
  background-size: cover;
  max-width:700px;
}


.background-overlay {
  background: rgba(48, 51, 107,.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*
.background-overlay{
  background-color: rgba(48, 51, 107,.7);
}
*/
